html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background: #282b30;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  padding: 0px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-add {
  background: #36393e;
  color: #fff;
  padding: 16px 24px;
  border: none;

  cursor: pointer;

  grid-area: header;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

button.button-add {
  width: 100%;
}

.button-add:hover {
  background: #424549;
}

.button {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.button-edit {
  background: #7289da;
}

.button-delete {
  background: #ee4b2b;
}

.home__buttons-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
}

.header {
  height: 48px;
  padding: 0px 16px;

  display: flex;
  align-items: center;

  grid-area: header;
}

.back {
  font-size: 24px;
  color: #fff;
}

.form-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;

  input {
    width: calc(100% - 24px);
    background: #424549;
    border-radius: 12px;
    border: none;

    padding: 12px;
    color: #fff;
  }

  input:focus-visible {
    outline: none;
  }

  input::placeholder {
    color: #cccccc;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:focus {
    outline: 2px #7289da solid;
  }
}

.back:hover {
  color: #e6e6e6;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr auto;
  grid-row-gap: 10px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.main {
  grid-area: main;
  padding: 0 16px;
}

.footer {
  grid-area: footer;
}

.select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.select-time {
  width: 100%;
  background: #424549;
  border-radius: 12px;
  border: none;
  border-right: 12px solid transparent;

  padding: 12px;
  color: #fff;
}

.select-time:focus-visible {
  outline: none;
}
